<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  link(rel="stylesheet", href="css/normalize.css")
  link(href="https://fonts.googleapis.com/css?family=Oswald:400,700", rel="stylesheet")
  link(rel="stylesheet", href="css/styles.css")
  title Weather App
body
  video(src="http://cdn.calm.com/scenes/scene-6pNLkdGkUn.mp4?v=1417688433921" autoplay loop class="background-video")
  div.body-wrapper
    div.body-info
      h1#city-name Fresno, CA
      h1#temperature 120 °F
      h1#status Hot 

  script(src="https://code.jquery.com/jquery-3.0.0.min.js", crossorigin="anonymous", integrity="sha256│local_weather random_quote_generator README.md -JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=")
  script(src="js/main.js")