<!DOCTYPE html>
html(lang="en")
head
  link(rel="stylesheet", href="css/normalize.css")
  link(rel="stylesheet", href="css/styles.css")
  meta(charset="UTF-8")
  title Random Quote Generator
body
  div.flex-wrapper
    header
    main 
      div.main-content
        h1#quote-message
        button#quote-refresh
          p Another One
  script(src="https://code.jquery.com/jquery-3.0.0.min.js", crossorigin="anonymous", integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=")
  script(src="quotes/quotes.json")
  script(src="js/main.js")
      

